/*
 * BLACK: #313131
 * CYAN: #66d9e8
 * 
 * 
 * CDN
 * 
 * @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
 * @import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');
 * 
 */

body {
    overflow: hidden;
}

/* Side nav */
aside.side-navigation {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    padding: 2em 2em;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);

    overflow: hidden;
}
aside .nav-title {
    min-height: 25%;
}
aside img#linkedin-profile {
    border-radius: 50%;
    width: 50%;
    border: 3px solid #66d9e8;
}
aside nav > ul {
    list-style: none;
}
aside nav > ul li {
    height: 2em;
    line-height: 2em;
}

/* Page content */
#background-particlesjs {
    position: relative;
    z-index: 1;
    background-color: #313131;
}
.content {
    height: 100%;
    padding: 2em 1em;

    position: absolute;
    top: 0;
    z-index: 2;
}

/* Typography */
aside.side-navigation .nav-title {
    text-align: center;
}
.content {
    color: #FFF;
}
h1, h2, h3, h4, h5, h6, a {
    color: #66d9e8;
}


/* Responsive hooks */
aside.side-navigation {
    width: 90%;
    max-width: 300px;
}
section.content.page-content {
    margin-left: 300px;
    width: 100%;
}
@media(max-width: 680px) {
    aside.side-navigation {
        transform: translateX(0);

        transition: translateX 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }
    aside.side-navigation + .content.page-content {
        opacity: 0;
    }

    aside.side-navigation.navigation-closed {
        transform: translateX(-102%);
        opacity: 0;
    }
    aside.side-navigation.navigation-closed > .content.page-content {
        opacity: 1;
    }

    section.content.page-content {
        margin-left: 0;
        width: 100%;
    }
}