/*
 * BLACK: #313131
 * CYAN: #66d9e8
 * DARK BLUE: #0FA0CE
 *
 * CDN
 *
 * @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
 * @import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');
 *
 */

html, body {
    overflow: hidden;
    background-color: #313131;
}

/* Side nav */
#menu-toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    padding: 3vh;
    padding: 3vh;
    color: #66d9e8;
    font-size: 1.2em;
}

aside.side-navigation::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;

    background-color: rgba(11, 11, 11, 0.6);

    filter: blur(1px);
}
aside.side-navigation {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    padding: 2em 2em;
    overflow: hidden;

    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
}


aside .nav-title {
    min-height: 20vh;
}
aside img#linkedin-profile {
    border-radius: 50%;
    width: 50%;
    border: 3px solid #66d9e8;
}
aside nav > ul {
    list-style: none;
}
aside nav > ul li {
    height: 2em;
    line-height: 2em;
}

/* Page content */
#background-particlesjs {
    position: relative;
    z-index: 1;
    background-color: #313131;
}
.content {
    height: 100%;
    width: calc(100%-21%);
    padding: 0 5vh;
    padding-top: 25vh;

    position: absolute;
    top: 0;
    z-index: 2;
}
.content .media-icon {
    float: left;
    padding: 0 2em;
}
.content .media-icon:first-child {
    padding-left: 0;
}
.content .media-icon i {
    font-size: 3em;
}

/* Typography */
html, body {
    color: #FFF;
}
h1, h2, h3, h4, h5, h6, a {
    color: #66d9e8;
}
a:hover {
    color: #66d9e8;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}
.social-media a {
    color: #FFF;
    transition: color 0.3s ease-in-out;
}
.social-media a:hover {
    color: #66d9e8
}

aside.side-navigation .nav-title {
    text-align: center;
}


/* Responsive hooks */
aside.side-navigation {
    width: 90%;
    max-width: 300px;
    transition: opacity 0.05s ease-out, transform 0.05s ease-out;
}
section.content.page-content {
    margin-left: 360px;
    width: 100%;
}
@media(max-width: 680px) {
    aside.side-navigation {
        transform: translateX(0);
    }
    aside.side-navigation + .content.page-content {
        opacity: 0;
    }

    aside.side-navigation.navigation-closed {
        transform: translateX(-102%);
        opacity: 0;
    }
    aside.side-navigation.navigation-closed + .content.page-content {
        opacity: 1;
    }

    section.content.page-content {
        margin-left: 0;
        width: 100%;
    }
}
@media(max-width: 420px) {

    aside.side-navigation {
        padding: 1em;
        transform: translateX(0);
    }
}

@media(max-width: 320px) {
    aside.side-navigation {
        padding: 0.5em;
        transform: translateX(0);
    }
}