/*
CDN

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');
*/

/* Side nav */
aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;

    background-color: #FFF;
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2em 1em;

    overflow: hidden;
}
aside .nav-title {
    min-height: 25%;
}
aside img#linkedin-profile {
    border-radius: 50%;
    width: 50%;
}
aside nav > ul {
    list-style: none;
}
aside nav > ul li {
    height: 2em;
    line-height: 2em;
    padding: 2em 1em;
}

/* Page content */
.content {
    background-color: #313131;
    height: 100%;
    padding: 2em 1em;
}

/* Typography */
aside.side-navigation {
    text-align: center;
}
.content {
    color: #FFF;
}


/* Responsive hooks */
aside.side-navigation {
    width: 90%;
    max-width: 300px;
}
section.content.page-content {
    margin-left: 300px;
    width: 80%;
}
@media(max-width: 680px) {
    aside.side-navigation {
        transform: translateX(0);

        transition: translateX 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }
    aside.side-navigation > .content.page-content {
        opacity: 0;
    }


    aside.side-navigation.navigation-closed {
        transform: translateX(-102%);
        opacity: 0;
    }
        aside.side-navigation.navigation-closed > .content.page-content {
        opacity: 1;
    }

    section.content.page-content {
        margin-left: 0;
        width: 100%;
    }
}